@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
body {
    background: #2a2a2a;
}
#carousel-area {
    position: relative;
    overflow: hidden;
    height: 600px;
    /* height: auto; */
    cursor: inherit;
}

#carousel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    height: 380px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#carousel div {
    position: absolute;
    width: 320px;
    height: 320px;
    transition: transform 1s ease-out, width 0.5s, height 0.5s, left 1s,
        opacity 1s, z-index 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
    );
    background-color: #a5d6a7;
    overflow: hidden;
}
#carousel .img-wrap .img-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #acff6c;
    opacity: 0;
    z-index: 11;
    transition: 0.4s;
    pointer-events: none;
    font-family: "Ephesis";
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 2;
    z-index: 1;
}

#carousel .img-wrap {
    width: 100%;
    height: 100%;
    clip-path: polygon(
        31% 1%,
        69% 1%,
        99% 31%,
        99% 69%,
        69% 99%,
        31% 99%,
        1% 69%,
        1% 31%
    );
    object-fit: cover;
    overflow: hidden;
    transition: transform 1s ease-out, width 0.5s, height 0.5s, left 1s,
        opacity 1s, z-index 1s;
}

.img-wrap img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: scale(1.3);
    transition: transform 0.5s, opacity 0.5s, filter 0.5s;
    mix-blend-mode: normal;
}

#carousel div.prev {
    z-index: 5;
    /* left: 28%; */
    left: 18%;
    width: 280px;
    height: 280px;
    transform: translateY(0%) translateX(-50%);
}

#carousel div.prev .img-wrap {
    width: 280px;
    height: 280px;
    overflow: hidden;
    clip-path: polygon(
        31% 1%,
        69% 1%,
        99% 31%,
        99% 69%,
        69% 99%,
        31% 99%,
        1% 69%,
        1% 31%
    );
}
#carousel div.prev img {
    transition: transform 1s ease, filter 1s ease;
}

#carousel div.prev :hover img {
    filter: brightness(70%);
    transform: scale(1.2);
}

#carousel div.prev :hover .img-text {
    opacity: 1;
}

#carousel div.prevLeftSecond {
    z-index: 2;
    /* left: 40%; */
    left: 35%;
    width: 230px;
    height: 230px;
    transform: translateY(5%) translateX(-65%);
    filter: brightness(60%);
}

#carousel div.prevLeftSecond .img-wrap {
    width: 230px;
    height: 230px;
}

#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0%) translateX(-50%);
}

#carousel div.selected :hover .img-text {
    opacity: 1;
}

#carousel div.selected img {
    transition: transform 0.5s ease, filter 0.5s ease;
}

#carousel div.selected:hover img {
    filter: brightness(70%);
    transform: scale(1.6);
}

#carousel div.next {
    z-index: 5;
    /* left: 72%; */
    left: 82%;
    width: 280px;
    height: 280px;
    transform: translateY(0%) translateX(-50%);
}

#carousel div.next .img-wrap {
    width: 280px;
    height: 280px;
}

#carousel div.next img {
    transition: transform 1s ease, filter 1s ease;
}

#carousel div.next :hover img {
    filter: brightness(70%);
    transform: scale(1.2);
}

#carousel div.next :hover .img-text {
    opacity: 1;
}

#carousel div.nextRightSecond {
    z-index: 2;
    /* left: 60%; */
    left: 65%;
    width: 230px;
    height: 230px;
    transform: translateY(5%) translateX(-35%);
    opacity: 0.7;
    filter: brightness(60%);
}

#carousel div.nextRightSecond .img-wrap {
    width: 230px;
    height: 230px;
}

.buttons {
    position: absolute;
    top: 460px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 280;
    opacity: 1 !important;
}

.buttons .icon-btn {
    background: none;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.buttons .icon-btn .icon-img {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    margin: 0 25px;
    /* padding: 10px 20px; */
    transition: filter 0.3s ease;
    /* display: block !important; */
    /* filter: invert(100%); */
    filter: brightness(0) saturate(100%) invert(89%) sepia(4%) saturate(3381%)
        hue-rotate(65deg) brightness(81%) contrast(92%);
}

.buttons .icon-btn:hover .icon-img {
    filter: brightness(0) saturate(100%) invert(46%) sepia(14%) saturate(2022%)
        hue-rotate(73deg) brightness(97%) contrast(87%);
}
.buttons .icon-btn:active .icon-img {
    transform: translateY(2px);
    filter: hue-rotate(150deg) drop-shadow(0 4px 10px rgba(0, 0, 0, 0.3));
}
.hide {
    opacity: 0;
    pointer-events: none;
}
