.background {
    background-color: #b9f8cf;
}

.nav-link-box {
    display: flex;
    max-width: 10em;
}

.nav-img {
    max-width: 100%;
    height: auto;
}

.header-links li span {
    position: relative;
    z-index: 0;
}

.header-links li span::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -3px;
    left: -4px;
    right: -4px;
    display: block;
    height: 6px;
}

.header-links a.active span::before {
    background-color: #008236;
}

.header-links li:not(.active):hover span::before {
    background-color: #03a948;
}
